.form-mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    position: absolute;
    top: 30%;
    left: 40%;
}

.task-Input {
    width: 400px;
    height: 40px;
    font-family: 'Labrada', serif;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Shantell Sans', cursive;

}


.createDeleteButton {
    background-color: red;
    border: solid 1px black;
    border-radius: 10px;
    color: aliceblue;
    position: absolute;
    right: 52%;
    bottom: 27%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .createDeleteButton:hover {
    background-color: darkred;
    transform: scale(1.05);
  }


.createUserButton {
    background-color: green;
    border: solid 1px black;
    border-radius: 10px;
    color: aliceblue;
    position: absolute;
    right: 33%;
    bottom: 27%;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.createUserButton:hover {
    background-color: darkgreen;
    transform: scale(1.05);
  }

.recountTask { 
    font-size: 10px;
    font-style: italic;
    font-family: 'Labrada', serif;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Shantell Sans', cursive;
    padding: 6px;
    background-color: white;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
    border: solid 1px black;
    margin-bottom: 0px;
    text-align:end

}